@{
    ViewBag.Title = "Tích điểm";
}
<style>
    .modal-header {
        border-bottom: none;
    }
</style>




<div class="container container-body">
    <section class="sticky wow bounceInLeft" style="animation-duration:2s">
        <div class=" col-md-3 container-menu">
            <div class="pc">
                <div id="danhmucquatang" class="section_title">
                    <div class="text-center">
                        <p class="title">
                            Danh mục quà tặng
                        </p>
                    </div>
                </div>
                <div class="navbar-menu">

                    <ul class="navbar-menu">

                        <li>
                            <a class="btn btn-default page-scroll" href="~/#cacmucquatang">
                                Các mục quà tặng
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default page-scroll" href="~/#thoigianapdung">
                                Thời gian áp dụng
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default page-scroll" href="~/#tichdiem">
                                Tích điểm
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default page-scroll" href="~/#tracuu">
                                Tra cứu
                            </a>
                        </li>
                        <li>
                            <a class="btn btn-default page-scroll" href="~/#cachnhanqua">
                                Cách nhận quà
                            </a>
                        </li>

                    </ul>
                </div>
            </div>


        </div>

    </section>

    <section>

        <div class="col-md-9 wow slideInDown" style="animation-delay:0.5s">
            <div class=" container-content">
                <section id="cacmucquatang" class="padding_top_content">
                    <div class=" section_title">

                        <div class="col-md-12">
                            <div class="text-center">
                                <p class="title">
                                    Các mức quà tặng
                                </p>
                            </div>

                        </div>
                    </div>
                </section>
                <section class="cacmucquatang">
                    <div class="container ">
                        <div class="row gift">
                            <div class="item-gift col-md-6 col-12">
                                <img src="~/Images/Cac-Muc-Qua/1.png" alt="" class="img-responsive" />
                            </div>
                            <div class="item-gift col-md-6 col-12">
                                <img src="~/Images/Cac-Muc-Qua/2.png" alt="" class="img-responsive" />
                            </div>
                        </div>
                        <div class="row gift">
                            <div class="item-gift col-md-6 col-12">
                                <img src="~/Images/Cac-Muc-Qua/3.png" alt="" class="img-responsive" />
                            </div>
                            <div class="item-gift col-md-6 col-12">
                                <img src="~/Images/Cac-Muc-Qua/4.png" alt="" class="img-responsive" />
                            </div>
                        </div>

                    </div>
                    <div class="col-md-1"></div>
                    <section id="thoigianapdung" class="padding_top_content">
                        <div class="section_title">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <p class="title">
                                            Thời gian áp dụng
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section class="thoigianapdung">
                        <div class="content">
                            <div class="col-md-12">
                                <div class="col-md-12" style="text-align: center;">
                                    <div class="row content">
                                        <span style="color: #5EBA62; font-weight: bold;">Chương trình áp dụng đến hết ngày 31 tháng 12 năm 2022 </span>
                                        <br />Chú ý: Thời gian kết thúc chương trình có thể sớm hơn trong trường hợp hết quà tặng
                                    </div>
                                </div>
                            </div>

                        </div>
                    </section>
                </section>
                <section id="tichdiem" class="tichdiem padding_top_content">
                    <div class="section_title">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <p class="title">
                                        Tích điểm
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12">
                            <div class="col-md-12" style="text-align: center;">
                                <div class="row content">
                                    <span style="color: #5EBA62; font-weight: bold; text-transform:uppercase">Bước 1: Tìm thẻ cào trên mỗi hộp Dr.Green  </span>

                                </div>
                                <br />
                                <div class="row content">
                                    <div class="col-md-6">
                                        <div class="col-md-12 zoom">
                                            <img src="~/Images/Screenshot 2023-01-05 084916.jpg" style="width:120%;" />
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="col-md-12 zoom">
                                            <img src="~/Images/Screenshot 2023-01-05 084933.jpg" style="width:120%;" />

                                        </div>

                                    </div>


                                </div>
                                <br />
                                <div class="row content">
                                    <span style="color: #5EBA62; font-weight: bold; text-transform:uppercase">Bước 2: Cào thẻ lấy mã số và tích điểm bằng một trong hai cách   </span>
                                </div>
                                <br />
                                <div class="row content">
                                    <p style="color: #136E43; font-weight:bold; text-align:center">Cách 1: Tích điểm qua tổng đài 8077</p>
                                    <div class="col-md-12">
                                        <img src="~/Images/Screenshot 2023-01-05 090649.jpg" style="width:100%;" class="zoom img-responsive" />
                                    </div>
                                    <p style="color: #136E43; font-weight:bold; text-align:center">Cách 2: Tích điểm tại đây (miễn phí)</p>
                                </div>
                             
                                    <div class="row content method_2_form_mobile col-md-12" id="drgreen">
                                        <form class="form" method="post" id="form" action="Home/CallApi">
                                            <div class="form-group">
                                                <input class="form-control" id="phone1" onblur="checkPhone(this)" type="number" placeholder="Nhập số điện thoại tích điểm" required style="height: 41px; font-size: 14px; border: 2px solid green; " value="" />
                                                <label style="color: #D32027; display: none; font-style: italic;" id="phone1_error"></label>
                                                <label style="color: green; display: none; font-style: italic;" id="phone1_normal"></label>
                                            </div>
                                            <div class="form-group" style="padding-top: 10px;">
                                                @if (ViewBag.Code == null)
                                                {
                                                    <input class="form-control" id="code" type="text" onblur="validateCode(this)" placeholder="Nhập mã cào tại đây" required style="height: 41px; font-size: 14px; border: 2px solid green;" value="" />
                                                }
                                                else
                                                {
                                                    <script>
                                                        $(document).scrollTop('#drgreen');
                                                    </script>
                                                    <input class="form-control" id="code" type="text" onblur="validateCode(this)" placeholder="Nhập mã cào tại đây" required style="height: 41px; font-size: 14px; border: 2px solid green;" value="@ViewBag.Code" />
                                                }

                                                <label style="color: #D32027; display: none; font-style: italic;" id="code_error"></label>
                                                <label style="color: forestgreen; display: none; font-style: italic;" id="code_normal"></label>
                                            </div>
                                            <div class="text-center method_2_button_mobi">
                                                <button id="submit" class="btn tichdiem_btn zoom " style="text-align:center !important;" type="button">TÍCH ĐIỂM</button>
                                            </div>
                                        </form>
                                    </div>
                               

                                <div class=" col-md-12" style="text-align:justify;">
                                    <br />
                                    <span style="color: #136E43; font-weight: bold;">Với mỗi tin nhắn thành công bạn sẽ được tính một điểm </span><br />
                                    <span style="color: #136E43; font-weight: bold;">Lưu ý: </span><br />
                                    Điểm tích lũy được ghi nhận theo số điện thoại. Quý khách chỉ sử dụng 1 số điện thoại để tích điểm , nếu sử dụng 2 số điện thoại, hệ thống sẽ ghi nhận 2 số điện thoại khác nhau.

                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="tracuu" class="tracuu padding_top_content">
                    <div class="section_title">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-center">
                                    <p class="title">
                                        Tra cứu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="col-md-12" style="text-align: justify;">
                            <div class="row content">
                                <p style="color: #136E43; font-weight:bold; text-align:center">Cách 1: Tra cứu qua tổng đài 8077</p>
                                <div class="col-md-12">
                                    <img src="~/Images/TracuuDRG.jpg" style="width:100%;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" style="text-align: justify;">
                            <div class="row content method_2_mobile">
                                <p style="color: #136E43; font-weight:bold; text-align:center">Cách 2: Tra cứu trực tiếp tại đây(miễn phí)</p>
                            </div>
                            <div class="row content">
                                <form class="form" method="post" id="form_tc" action="Home/CallApi">
                                    <div class="form-group">
                                        <input class="form-control" id="phone_tc" onblur="checkPhoneTC(this)" type="number" placeholder="Nhập số điện thoại" required style="height: 41px; font-size: 14px; border: 2px solid green; " value="" />
                                        <label style="color: #D32027; display: none; font-style: italic;" id="phone_tc_error"></label>
                                        <label style="color: forestgreen; display: none; font-style: italic;" id="phone_tc_normal"></label>
                                    </div>

                                    <div class="text-center method_2_button_mobi">
                                        <button id="submit_tc" class="btn tichdiem_btn zoom" style="text-align:center !important;" type="button">TRA CỨU</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="cachnhanqua">
                    <section id="cachnhanqua" class="padding_top_content">

                        <div class="section_title">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="text-center">
                                        <p class="title">
                                            Cách nhận quà
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="container">
                        <div class=" col-md-12" style="text-align:center;">
                            <span style="color: #5EBA62; font-weight: bold;">Khi đủ số điểm tương ứng với món quà tương ứng, bạn có thể đổi quà bằng một trong hai cách sau:  </span>

                        </div>
                        <div class=" col-md-12" style="text-align: center !important;">
                            <br />
                            <p style="color: #136E43; font-weight: bold;">Cách 1: Nhắn tin theo cú pháp </p><br />
                            <img src="~/Images/cach-nhan-qua.png" style="width:100%;" />
                        </div>
                        <div class=" col-md-12" style="text-align: center !important;">
                            <br />
                            <p style="color: #136E43; font-weight: bold;">Cách 2: Đổi quà trực tiếp tại đây (miễn phí) </p><br />

                        </div>
                        <div class="row content  method_2_mobile  col-md-12">
                            <form class="form" method="post" id="form" action="Home/CallAPI">
                                <div class="form-group">

                                    <input class="form-control" id="dphone" name="dphone" onblur="checkPhone(this)" type="number" placeholder="Nhập số điện thoại" required style="height: 41px; font-size: 14px; border: 2px solid green; " value="" />
                                    <label style="color: #D32027; display: none; font-style: italic;" id="phone_tc_error"></label>
                                    <label style="color: forestgreen; display: none; font-style: italic;" id="phone_tc_normal"></label>
                                </div>
                                <div class="form-group">

                                    <input class="form-control" id="daddress" name="daddress" type="text" placeholder="Nhập địa chỉ để đổi quà" required style="height: 41px; font-size: 14px; border: 2px solid green; " value="" />

                                </div>
                                <div class="form-group" style="display:none;">
                                    <input type="text" name="dcommandcode" id="dcommandcode" value="CQ">
                                </div>
                                <div class="form-group" style="padding-top: 10px;">

                                    <select id="ddiem" class="form-control" style="height: 41px; border: 2px solid green; font-size: 14px; ">
                                        <option value="">Chọn số điểm cần đổi</option>
                                        <option value="5">5 điểm</option>
                                        <option value="10">10 điểm</option>
                                        <option value="15">15 điểm</option>
                                        <option value="20">20 điểm</option>
                                    </select>

                                </div>
                                <div class="form-group" style="padding-top: 10px;">

                                    <select id="dmaqua" class="form-control" style="height: 41px; border: 2px solid green; font-size: 14px; ">
                                        <option value="">Chọn quà</option>
                                        <option class="5" value="A1">Bình sịt keo ong </option>
                                        <option class="5" value="A2">Ô </option>
                                        <option class="10" value="A3">Áo mưa </option>
                                        <option class="10" value="A4">Thẻ học cho bé </option>
                                        <option class="15" value="A5">Hai túi nước giặt </option>
                                        <option class="15" value="A6">Chảo chống dính </option>
                                        <option class="20" value="A7">Túi du lịch </option>
                                        <option class="20" value="A8">Vali cho bé </option>
                                    </select>

                                </div>
                                <div class="text-center method_2_button_mobi">
                                    <button id="dbtnSend" class="btn tichdiem_btn zoom" style="text-align:center !important;" type="button">ĐỔI QUÀ</button>
                                </div>
                            </form>

                            <div class="text-center">
                                <span><i>* Quà sẽ được chuyển đến bạn trong thời gian sớm nhất</i></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="container container-aa">
    <div class="container-footer">
        <div class="row content-footer wow bounceInUp" style="animation-duration:0.5s">
            <div class="col-md-4">
                <img src="~/Images/free-ship.png" />
                <h3>FREE SHIP TOÀN QUỐC</h3>
            </div>
            <div class="col-md-4">
                <img src="~/Images/doi-tra.png" />
                <h3>ĐỔI TRẢ HÀNG MIỄN PHÍ</h3>
            </div>
            <div class="col-md-4">
                <img src="~/Images/dung-thu.png" />
                <h3>MIỄN PHÍ DÙNG THỬ</h3>
            </div>
        </div>
        @*<div class="col-md-12">
                <img src="~/Images/abccc.jpg" style="width:100%" />
            </div>*@

    </div>

</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-header">
            <a class="close_modal" style="border: none;" onclick="resetForm()" data-dismiss="modal">
                <span aria-hidden="true">

                    <img src="~/Images/modal_close.png" class="img-responsive zoom" />
                </span>
                <span class="sr-only">Close</span>
            </a>
        </div>
        <!-- content goes here -->
        <div class="modal-body">
            <div class="col-md-12 text-center">&nbsp;</div>
            <h1 class="text_title_modal">THÔNG BÁO</h1>
            <div class="col-md-12">
                <div class="col-md-12"><h2 id="txtmess" class="text_modal"></h2></div>
            </div>
        </div>
    </div>
</div>
@section scripts
{
    <script type="text/javascript">

        /*Menu*/
        function myFunction() {
            var x = document.getElementById("myLinks");
            if (x.style.display === "block") {
                x.style.display = "none";
            } else {
                x.style.display = "block";
            }
        }

        function changeBg(a_tag) {
            $(".menu_mobile").addClass("topmenu_a_bg");
        }

        /*News*/
        $('.carousel[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });

        $('.carousel1[data-type="multi"] .item').each(function () {
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i = 0; i < 2; i++) {
                next = next.next();
                if (!next.length) {
                    next = $(this).siblings(':first');
                }

                next.children(':first-child').clone().appendTo($(this));
            }
        });


        $(window).scroll(function () {
            var y = $(this).scrollTop();
            if (y > 1400) {
                $('.thanhphan_img').show(1000);
            } else {
                $('.thanhphan_img').hide(1000);
            }
        });

        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")
        };

        $('.counter-count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 5000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(formatNumber(Math.ceil(now)));
                }
            });
        });

        function checkPhone(phone) {
            var phone_string = phone.value;
            var id = phone.id;
            if (phone_string.length == 0) {
                $('#' + id + '_normal').hide();
                $('#' + id + '_error').show();
                $('#' + id + '_error').html("Vui lòng nhập số điện thoại!");
            } else {
                if (phone_string.length < 10 || phone_string.length > 11) {
                    $('#' + id + '_normal').hide();
                    $('#' + id + '_error').show();
                    $('#' + id + '_error').html("Vui lòng nhập đúng định dạng số điện thoại");
                } else {
                    if (phone_string.startsWith("0") && phone_string.length > 10) {
                        $('#' + id + '_normal').hide();
                        $('#' + id + '_error').show();
                        $('#' + id + '_error').html("Vui lòng nhập đúng định dạng số điện thoại");
                    } else {
                        if (id == "phone1") {
                            //getInfoByPhone(phone_string);
                        }

                        $('#' + id + '_error').hide();
                        $('#' + id + '_error').html("");
                        $('#' + id + '_error').hide();
                    }
                }
            }
        }

        function checkPhoneTC(phone) {
            var phone_string = phone.value;
            var id = phone.id;
            if (phone_string.length == 0) {
                $('#' + id + '_normal').hide();
                $('#' + id + '_error').show();
                $('#' + id + '_error').html("Vui lòng nhập số điện thoại!");
            } else {
                if (phone_string.length < 10 || phone_string.length > 11) {
                    $('#' + id + '_normal').hide();
                    $('#' + id + '_error').show();
                    $('#' + id + '_error').html("Vui lòng nhập đúng định dạng số điện thoại");
                } else {
                    if (phone_string.startsWith("0") && phone_string.length > 10) {
                        $('#' + id + '_normal').hide();
                        $('#' + id + '_error').show();
                        $('#' + id + '_error').html("Vui lòng nhập đúng định dạng số điện thoại");
                    } else {
                        if (id == "phone1") {
                            //getInfoByPhone(phone_string);
                        }

                        $('#' + id + '_error').hide();
                        $('#' + id + '_error').html("");
                        $('#' + id + '_error').hide();
                    }
                }
            }
        }

        function validatecode(code) {
            var code_string = code.value;
            if (code_string.length == 0) {
                $('#code_error').show();
                $('#code_error').html("vui lòng nhập mã cào!");
            } 
        }

        //function checkQuantity(quantity) {
        //    let value = quantity.value;
        //    if (isNaN(value)) {
        //        $('#package_quantity').val('1');
        //    } else if (value < 0) {
        //        $('#package_quantity').val('1');
        //    }
        //}

        var tichdiem = {
            init: function () {
                tichdiem.registerEvent();
            },
            registerEvent: function () {
                $('#submit').off('click').on('click', function () {
                    var phone1 = $('#phone1').val();
                    var code = $('#code').val();

                    $('#submit').attr('disabled', 'disabled');

                    //$('#loader').css('display', 'inline-block');
                    if (phone1.length == 0 && code.length != 0) {
                        $('#phone1_normal').hide();
                        $('#phone1_error').show();
                        $('#phone1_error').html("Vui lòng nhập số điện thoại!");

                        $('#submit').removeAttr("disabled");

                    } else if (phone1.length != 0 && code.length == 0) {
                        $('#code_normal').hide();
                        $('#code_error').show();
                        $('#code_error').html("Vui lòng nhập mã cào!");

                        $('#submit').removeAttr("disabled");

                    } else if (phone1.length == 0 && code.length == 0) {
                        $('#phone1_normal').hide();
                        $('#phone1_error').show();
                        $('#phone1_error').html("Vui lòng nhập số điện thoại!");
                        $('#code_normal').hide();
                        $('#code_error').show();
                        $('#code_error').html("Vui lòng nhập mã cào!");

                        $('#submit').removeAttr("disabled");

                    } else {
                        if (phone1.length < 10 || phone1.length > 11) {
                            $('#phone1_normal').hide();
                            $('#phone1_error').show();
                            $('#phone1_error').html("Vui lòng nhập đúng định dạng số điện thoại");

                            $('#submit').removeAttr("disabled");

                        } else {
                            $.ajax({
                                url: '/Home/CallKichHoat',
                                type: 'POST',
                                dataType: 'json',
                                data: {
                                    phone1: phone1,
                                    code: code,
                                },
                                success: function (response) {
                                    let message = response.message;
                                    message = message.replace("19006436", "<a style='color: red;font-weight: bold;' href='tel:19006436'>1900.6436</a>");
                                    message = message.replace("1900.6436", "<a style='color: red;font-weight: bold;' href='tel:19006436'>1900.6436</a>");
                                    message = message.replace("http://dehp.vn", "https://dehp.vn");
                                    message = message.replace("https://dehp.vn", "<a href='https://dehp.vn' target='_blank' style='color: blue;font-weight: bold;'>https://dehp.vn</a>");
                                    //console.log(response);
                                    if (response.success) {
                                        if (response.message == "3") {
                                            $('#exampleModal').modal('show');
                                            $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');
                                        } else if (response.type == "code") {
                                            $('#code_error').show();
                                            $('#code_normal').hide();
                                            $('#code_error').html(response.message);
                                        } else {
                                            //alert('e');
                                            $('#exampleModal').modal('show');
                                            $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');

                                            $('#code_error').hide();
                                            $('#phone1_error').hide();
                                        }
                                        //$('#loader').css('display', 'none');
                                    }
                                    else {//success false
                                        $('#exampleModal').modal('show');
                                        $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');
                                        $('#code_error').hide();
                                        $('#phone1_error').hide();
                                    }

                                    $('#submit').removeAttr("disabled");
                                },
                            });
                        }
                    }
                });
            },
            resetForm: function () {
                //$('#form')[0].reset();
            }
        }
        tichdiem.init();

        var tracuu = {
            init: function () {
                tracuu.registerEvent();
            },
            registerEvent: function () {
                $('#submit_tc').off('click').on('click', function () {
                    $('#submit_tc').attr('disabled', 'disabled');

                    var phone1 = $('#phone_tc').val();
                    var product = "";
                    if (phone1.length == 0) {
                        $('#phone_tc_normal').hide();
                        $('#phone_tc_error').show();
                        $('#phone_tc_error').html("Vui lòng nhập số điện thoại!");

                        $('#submit_tc').removeAttr("disabled");

                    } else {
                        //$('#loader').css('display', 'inline-block');
                        $.ajax({
                            url: '/Home/CallTracuu',
                            type: 'POST',
                            dataType: 'json',
                            data: {
                                phone1: phone1,
                                product: product
                            },
                            success: function (response) {
                                if (response.success) {
                                    let message = response.message;

                                    $('#exampleModal').modal('show');
                                    $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');
                                    $('#quantity').val('');
                                    $('#phone_tc_error').hide();
                                    $('#product_error').hide();
                                    //$('#loader').css('display', 'none');
                                    $('#phone_tc_error').hide();
                                    $('#product_error').hide();
                                }
                                else {//success false
                                    $('#exampleModal').modal('show');
                                    $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');
                                    $('#quantity').val('');
                                    $('#phone_tc_error').hide();
                                    $('#product_error').hide();
                                }

                                $('#submit_tc').removeAttr("disabled");
                            },
                        });
                    }
                });
            },
            resetForm: function () {
                //$('#form')[0].reset();
            }
        }
        tracuu.init();
        var doiqua = {
            init: function () {
                doiqua.registerEvent();
            },
            registerEvent: function () {
                $('#dbtnSend').off('click').on('click', function () {
                    var phone1 = $('#dphone').val();
                    var maqua = $('#dmaqua').val();


                    $.ajax({
                        url: '/Home/CallTraQua',
                        type: 'POST',
                        dataType: 'json',
                        data: {
                            phone1: phone1,
                            maqua: maqua,

                        },
                        success: function (response) {

                            if (response.success) {
                                let message = response.message;
                                $('#exampleModal').modal('show');
                                $('#txtmess').html("<span style='line-height: 2'>" + message + '</span>');
                            }
                            contact.resetForm();
                        },


                    });

                });

            },
            resetForm: function () {
                $('#form')[0].reset();
            }
        }
        doiqua.init();

        function resetForm() {
            //$('#form')[0].reset();
            $('#code').val("");
            $('#code_normal').hide();
            $('#code_error').hide();
        }
        $('#quantity').val('');

    </script>

}
